/* Add here all your CSS customizations */

/* CSS Variables */

.porto-big-title {
  letter-spacing: -18px;
  font-size: 5.5rem !important;
}



@media (max-width: 575px) {
  .porto-big-title {
    letter-spacing: -18px;
    font-size: 5.5rem !important;
  }
}


.afrocodez{
  text-align: center;
  padding-bottom: 50px;
}


.afrologo {
  letter-spacing: -5px !important;
  font-size: 2rem !important;
}